@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    max-width: 60%;
    background-color: rgb(216, 148, 196);
    margin: auto;
}



h1, a{
    padding: 0;
    margin: 0;
}